body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
}

.todo{
    width: 100%;
}

.todo-item{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.todo-item h2{
    text-align: center;
}

.todo-item:first-child{
    border-right: 1px solid #000;
}